article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

b, strong {
  font-weight: bolder;
}

a {
  color: #48CCFF;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #00b5fb;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

.container-fluid {
  width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .order-lg-0 {
    order: 0;
  }
}

@media (min-width: 992px) {
  .order-lg-1 {
    order: 1;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.625rem 0.625rem;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #48CCFF;
  outline: 0;
  box-shadow: none;
}

.collapse {
  display: none;
}

.dropup, .dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.625rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #4F4F4F;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.3125rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-header {
  display: block;
  padding: 0.625rem 1.25rem;
  margin-bottom: 0;
  font-size: 0.76563rem;
  color: #6c757d;
  white-space: nowrap;
}

.nav-link {
  display: block;
  padding: 0.3125rem 0.625rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
}

.navbar > .container, .navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.09375rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.125rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.badge {
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.125rem;
}

.badge-pill {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  border-radius: 10rem;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.position-relative {
  position: relative !important;
}

.mr-2, .mx-2 {
  margin-right: 0.625rem !important;
}

.pr-1, .px-1 {
  padding-right: 0.3125rem !important;
}

.pl-1, .px-1 {
  padding-left: 0.3125rem !important;
}

.pt-2, .py-2 {
  padding-top: 0.625rem !important;
}

.pb-2, .py-2 {
  padding-bottom: 0.625rem !important;
}

.pr-3, .ui-table table th:last-child, .ui-table table td:last-child, .px-3, .table-label, .table-item {
  padding-right: 1.25rem !important;
}

.pl-3, .ui-table table th:first-child, .ui-table table td:first-child, .px-3, .table-label, .table-item {
  padding-left: 1.25rem !important;
}

.pl-4, .px-4 {
  padding-left: 1.875rem !important;
}

@media (min-width: 992px) {
  .mr-lg-3, .mx-lg-3 {
    margin-right: 1.25rem !important;
  }
}

@media (min-width: 992px) {
  .pr-lg-3, .px-lg-3 {
    padding-right: 1.25rem !important;
  }
}

.text-center {
  text-align: center !important;
}

.container-fluid {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.legend, .table-label {
  font-size: 0.750rem;
}

.badge {
  font-weight: 400;
}

.badge-notification {
  color: #fff;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #eb0000;
}

.dropdown-header {
  padding: 0 1.25rem 0.625rem;
}

.navbar {
  background-color: #333333;
}

@media (min-width: 992px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .navbar .logo {
    border-right: 1px solid #656565;
  }
}

.navbar .logo img {
  width: 140px;
}

.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item.show .nav-link {
  color: #333333 !important;
  background-color: #fff;
}

.navbar-nav .nav-item:hover .nav-link-home, .navbar-nav .nav-item.show .nav-link-home {
  background-color: transparent;
}

@media (min-width: 992px) {
  .navbar-nav .nav-item:hover .dropdown-menu, .navbar-nav .nav-item.show .dropdown-menu {
    display: block;
  }
}

.navbar-nav .nav-item .icon-home {
  width: 1rem;
  display: inline-block;
}

.navbar-nav .nav-link {
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 0.125rem 0.125rem 0 0;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    padding: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
}

.navbar-nav .dropdown-menu {
  margin: 0;
  border: 0;
  border-radius: 0 0.125rem 0.125rem 0.125rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}

.navbar-nav .dropdown-item {
  color: #4F4F4F;
}

.navbar-nav .dropdown-item:hover, .navbar-nav .dropdown-item:active {
  background-color: #F2F2F2;
}

.navbar-tools .badge {
  top: -10px;
  right: -12px;
  position: absolute;
}

.navbar-tools .user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}

@media (min-width: 992px) {
  .navbar-tools .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar-tools .dropdown-header {
  text-transform: uppercase;
}

.navbar-tools .dropdown-menu {
  right: 0;
  top: calc(100% + 8px);
  left: auto;
  margin: 0;
  border: 0;
  border-radius: 0.125rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}

.navbar-tools .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  right: 10px;
}

.navbar-tools .dropdown-menu.user:before {
  right: 15px;
}

.navbar-tools .dropdown-item {
  color: #4F4F4F;
}

.navbar-tools .dropdown-item:hover, .navbar-tools .dropdown-item:active {
  background-color: #F2F2F2;
}

.navbar-search {
  position: relative;
}

.navbar-search .form-control {
  border: 0;
  width: 33px;
  color: #fff;
  border-radius: 30px;
  background-color: #4F4F4F;
  background-image: url("https://captura.sajadv.com.br/assets/img/icone-busca-campo.png");
  background-repeat: no-repeat;
  background-position: 15px center;
}

.navbar-search .form-control:focus {
  color: #fff;
  background-color: #4F4F4F;
  box-shadow: 0 0 0 0.2rem #2694C9;
}

.navbar-search .form-control:focus ~ .dropdown-menu {
  display: block;
}

@media (min-width: 1200px) {
  .navbar-search .form-control {
    width: auto;
    background-position: right center;
  }
}

.navbar-search .dropdown-menu {
  width: 300px;
  right: 5px;
}

.navbar-search .dropdown-item {
  position: relative;
  white-space: normal;
  border-left: 3px solid transparent;
  border-bottom: 1px dashed #E0E0E0;
}

.navbar-search .dropdown-item:hover, .navbar-search .dropdown-item:active {
  border-left-color: #48CCFF;
  background-color: #F2F2F2;
}

.navbar-notification .dropdown-menu {
  width: 300px;
}

.navbar-notification .dropdown-item {
  position: relative;
  color: #4F4F4F;
  white-space: normal;
  border-left: 3px solid transparent;
}

.navbar-notification .dropdown-item:hover, .navbar-notification .dropdown-item:active {
  border-color: #48CCFF;
  background-color: #F2F2F2;
}

.navbar-notification .dropdown-item:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #828282;
  position: absolute;
  left: 12px;
  top: 48%;
}

.navbar-notification .dropdown-item.active {
  color: #4F4F4F;
  background-color: #F2F2F2;
}

.navbar-notification .dropdown-item.active:before {
  border-color: #48CCFF;
  background-color: #48CCFF;
}

.navbar-notification span, .navbar-notification p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.navbar-icon {
  width: 22px;
  height: 22px;
  vertical-align: top;
  display: inline-block;
  background-size: 460px auto;
  background-repeat: no-repeat;
  background-image: url("https://cdn-aws.sajadv.com.br/app-develop/layout1/images/sprite-claren.png");
}

.navbar-icon-atd {
  background-position: -180px -20px;
}

.navbar-icon-people {
  background-position: -160px 0;
}

.navbar-icon-reports {
  background-position: -240px 0;
}

.navbar-icon-calendar {
  background-position: -220px -20px;
}

.navbar-icon-doc {
  background-position: -20px 0;
}

.navbar-icon-intimations {
  background-position: -60px 0;
}

.navbar-icon-revenue {
  background-position: -300px -20px;
}

.navbar-icon-bills {
  background-position: -280px -20px;
}

.navbar-icon-paper {
  background-position: -40px 0;
}

.navbar-icon-folder {
  background-position: -140px -20px;
}

.navbar-icon-config {
  background-position: -260px -20px;
}

.navbar-icon-pencil {
  background-position: -140px 0;
}

.navbar-icon-key {
  background-position: -420px 0;
}

.navbar-icon-exit {
  background-position: -280px 0;
}

